<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif</string>
    <key>uni0237</key>
    <string>uni0237.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>B</key>
    <string>B_.glif</string>
  </dict>
</plist>
