<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.openTypeMeta</key>
    <dict>
      <key>dlng</key>
      <array>
        <string>Latn</string>
      </array>
      <key>slng</key>
      <array>
        <string>Latn</string>
        <string>Deva</string>
        <string>Grek</string>
        <string>Taml</string>
        <string>Cyrl</string>
        <string>Orya</string>
      </array>
    </dict>
  </dict>
</plist>
