<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1638</integer>
    <key>capHeight</key>
    <integer>1554</integer>
    <key>copyright</key>
    <string>Copyright 2024, Samaano Font Authors (https://github.com/mitradranirban/samaano-fonts)</string>
    <key>descender</key>
    <integer>-410</integer>
    <key>familyName</key>
    <string>Samaano</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>x</key>
        <real>1024.0</real>
        <key>y</key>
        <real>1545.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>270.0</real>
        <key>x</key>
        <real>1098.0</real>
        <key>y</key>
        <real>614.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>270.0</real>
        <key>x</key>
        <real>102.0</real>
        <key>y</key>
        <real>614.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>x</key>
        <real>1024.0</real>
        <key>y</key>
        <real>2436.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>x</key>
        <real>1024.0</real>
        <key>y</key>
        <real>1023.0</real>
      </dict>
    </array>
    <key>italicAngle</key>
    <real>0.0</real>
    <key>note</key>
    <string>2024-8-27: Created with FontForge (http://fontforge.org)</string>
    <key>openTypeHeadCreated</key>
    <string>2024/09/04 10:13:35</string>
    <key>openTypeHheaAscender</key>
    <integer>1638</integer>
    <key>openTypeHheaDescender</key>
    <integer>-410</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDescription</key>
    <string>A Monspace Variable Font Family in Latin and Devanagari created using rectangular components only </string>
    <key>openTypeNameDesigner</key>
    <string>Dr Anirban Mitra</string>
    <key>openTypeNameDesignerURL</key>
    <string>https://github.com/mitradranirban</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1.</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameVersion</key>
    <string>Version 0.001</string>
    <key>openTypeOS2FamilyClass</key>
    <array>
      <integer>4</integer>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1638</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-410</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>anir</string>
    <key>openTypeOS2WeightClass</key>
    <integer>100</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1800</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>600</integer>
    <key>postscriptFontName</key>
    <string>Samaano-Thin</string>
    <key>postscriptFullName</key>
    <string>Samaano Thin</string>
    <key>postscriptUnderlinePosition</key>
    <integer>-204</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>102</integer>
    <key>postscriptWeightName</key>
    <string>Thin</string>
    <key>styleMapFamilyName</key>
    <string>Samaano Thin</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Thin</string>
    <key>unitsPerEm</key>
    <integer>2048</integer>
    <key>versionMajor</key>
    <integer>0</integer>
    <key>versionMinor</key>
    <integer>2</integer>
    <key>xHeight</key>
    <integer>1024</integer>
  </dict>
</plist>
